<h1>Battle Game</h1>
<h3>Sign in to play</h3>
<form action='/names' method='post'>
  <label for="player_1">
    Player 1
    <input type='text' name='player_1'>
  </label>
  <br/>
  <label for="player_2">
    Player 2
    <input type='text' name='player_2'>
  </label>
  <br/><br/>
  <input type='submit'  value='Submit'>
</form>
