<% if @game.player_1 && @game.player_2 %>
  <%= @game.player_1.name %> vs. <%= @game.player_2.name %>
  <br/><br/>
  <%= @game.player_2.name %>: <%= @game.player_2.hit_points %> HP
  <br/><br/>
  <form action="/attack">
    <input type="submit" value="Attack">
  </form>
<% end %>
